service cloud.firestore {
  match /databases/{database}/documents {

    // check user is logged in
    function User() {
      return request.auth != null &&
      request.auth.uid != null &&
      request.auth.token.firebase.sign_in_provider != 'anonymous';
    }

    // check user has role
    function hasRole() {
      return request.auth.token != null &&
      request.auth.token.role != null;
    }

    // check user is admin
    function Admin() {
      return request.auth.token.role == 'admin';
    }

    // check user is moderator
    function Moderator() {
      return request.auth.token.role == 'moderator';
    }

    // [PRIVATE]
    match /private/{document} {
      match /users/{userId} {
        allow get: if User();
        allow list: if User() && hasRole() && Admin();
        allow write: if User() && hasRole() && Admin();
      }
    }

    // [PUBLIC]
    match /public/{document} {
      match /{collection}/{anyPath=**} {
        allow read: if hasRole();
        allow write: if hasRole() && Admin();
      }
    }
  }
}
